{% extends "base_admin.html.twig" %}

{% block title %}
    BlogSymfony | Gestion des catalogues
{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}

        <div class="col-4 mx-auto text-center bg-success p-3 text-white mb-3">
            {{ message }}
        </div>
        
    {% endfor %}

    <table class="table table-striped" id="table-backoffice">
    <thead>
            {# colonnes : objet (BackOfficeController) qui contient tous les noms des <champs>
            <colonnes de la table SQL catalogue #}
            <tr>
            {% for data in colonnes %}

                {% if data != 'id' %}

                    {# capitalize : filtre TWIG : filtre twig permettant de mettre la 1ère lette de la chaine de catatère en majuscule #}
                <th>{{ data|capitalize }}</th> 
                    
                {% endif %}

            
            
            {% endfor %}

            <th>Catégorie</th>
            <th>Nb Comm</th>
            <th>Actions</th>

            </tr>
        </thead>
        <tbody>
            {% for cat in catalogues %}

            <tr>

                <td>
                    {{ cat.titre }}
                </td>

                <td>
                    {{ cat.contenu|slice(0,60)|striptags }}
                </td>
                <td>
                {# Si la valeur de la photo en BDD est différente de null, cela veut dire qu'une photo a bien 
                été téléchargée, on entre dans le IF et on affiche l'image  #}
                    {% if cat.photo != null %}
                                    
                                <div class="col-6 d-none d-lg-block">
                                    <img src="{{ asset('uploads/photos/' ~ cat.photo) }}" alt="{{ cat.titre }}" class="col-12 img-responsive" >
                                </div>
                    {% else %}

                    <p>Aucune photo</p>
                    {% endif %}
                </td>

                <td>
                    {{cat.date|date('d/m/Y')}} à {{cat.date|date('H:i:s')}}
                </td>

                <td>
                    {{ cat.category.titre }}
                </td>

                <td>
                    {{ cat.comments|length }}
                </td>

                <td class="" >
                    <a href="{{ path('app_admin_catalogues_form', {'id': cat.id}) }}"><i class="bi bi-pencil-fill"></i></a>
                    <br>
                    <a href="{{ path('app_admin_catalogue_remove', {'id': cat.id}) }}" 
                    onclick ="return(confirm('Voulez-vous réellement supprimer le catalogue n° {{cat.id }}')); " >
                    <i class="bi bi-trash-fill text-danger" style="font-size: 200px;"></i></a>
                </td>

                
                </th>
                    
                

                    
            
        </tr>
        {% endfor %}
        </tbody>
    </table>    


{% endblock %}