{% extends "base_admin.html.twig" %}

{% block title %}
    BlogSymfony | Gestion des catégories
{% endblock %}

{% block body %}

    <h1 class= "text-center">Liste des catégories</h1>

    {# Affichage des messages utilisateur #}

    {% for label, messages in app.flashes(['success', 'danger']) %}

        {% for message in messages %}
        {# on se sert de l'identifiant du message (success, danger ) pour les intégrer comme classe bootstrap #}

            <div class="col-6 mx-auto text-center bg-{{ label }} p-3 text-white mb-3">
                {{ message }}
            </div>
            
        {% endfor %}
    {% endfor %}

    <table class="table table-striped" id="table-category">
        <thead>
            {# colonnes : objet (BackOfficeController) qui contient tous les noms des <champs>
            <colonnes de la table SQL catalogue #}
            <tr>
            {% for data in colonnes %}

                {% if data != 'id' %}

                    {# capitalize : filtre TWIG : filtre twig permettant de mettre la 1ère lette de la chaine de catatère en majuscule #}
                <th>{{ data|capitalize }}</th> 
                    
                {% endif %}

            {% endfor %}
                <th>Nb Catalogue</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cate in categories %}

            <tr>
                <td> {{ cate.titre }} </td>
                <td> {{ cate.description }} </td>
                <td> {{ cate.catalogues|length }} </td>
                
                    <td class="d-flex flex-column"> 
                        <a href="{{ path('app_admin_categorie_add') }}"> <i class="bi bi-plus-circle-fill text-info"></i> </a>

                        <a href="{{ path('app_admin_categorie_edit', {'id': cate.id}) }}"> <i class="bi bi-pencil-fill"></i> </a>

                        <a href="{{ path('app_admin_categorie_remove', {'id': cate.id}) }}" 
                        onclick ="return(confirm('Voulez-vous réellement supprimer la catégorie n° {{cate.id }}'));">
                            <i class="bi bi-trash-fill text-danger"></i> 
                        </a>
                    </td>
                </div>
            </tr>
            
        {% endfor %}
        </tbody>
    </table>
{% endblock %}